* {
    /* global box model */
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(logos/blackred.jpg);
   background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}

nav {
    display: flex;
    width: 84%;
    padding: 20px 0;
    justify-content: space-between;
    border-radius: 50%;
}

.logo {
    width: 100px;
    border-radius: 50%;
}

nav ul li {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    margin: 10px 15px;
    color: #c41e1e;
}

nav ul li a {
    margin: 10px 15px;
    color: hsl(0, 93%, 47%);
    font-weight: 500;
    display: inline-block;
}

nav ul li a:hover {
    color: yellow;
}

.detel {
    margin-left: 8%;
    margin-top: 3%;
    
}

.detel h1 {
    font-size: 50px;
    color: #c41e1e;

    margin-bottom: 20px;
}

span {
    color: rgb(5, 5, 5);
}

.detel p {
    color: black;
    line-height: 22px;
}

.detel a {
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    font-weight: 500;
    color: #7B0323 ;
    background-image: linear-gradient(45deg,#7B0323 , #000000);
    font-size: 20px;
    border-radius: 30px;
    border-top-right-radius: 0;
    transition: 0.5s;
margin-top: 10%;
animation: moveup 0.5s linear forwards;

    transform: translateY(30px);
    
}



.a:hover {
    border-top-right-radius: 30px;
}

.images {
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img {
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    border-radius: 50%;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}



.images:hover .girl {
    left: 45%;
}




